<h1>My Todo List</h1>

<div class="input-append">
<form ng-submit="TodoCtrl.addItem(TodoCtrl.input)">
<input type="text" ng-model="TodoCtrl.input"/>
<input type="submit" class="btn"/>
</form>
</div>

<table class="table"> 
<tr ng-repeat="todoitem in TodoCtrl.todolist">
  <td>
  {{ todoitem.description }}
</td>
<td>
  <button ng-show="!todoitem.done" class="btn btn-success" ng-click="TodoCtrl.complete($index)">
    Do it!
  </button> 
  <div ng-show="todoitem.done">
    Already done!
  </div>
  </td> 
</tr>
</table>  